
.jumbotron{
  background:#1684a7;
  color: #f6ec72;
  padding-bottom: 15px;
}
h1{
    font-size: 40px;
}


section{
  min-height: 200px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 4px;
}
footer{
  background:black;
  height:35px;
  text-align: center;
  color: white;
  padding: 5px;
}
aside{
  width: 10%
  float:right;
  background: #09a599;
  height: 500px;
  overflow: hidden;
  text-align: center;
  color: white;
    
}
content{
  width: 80%;
  height: 500px;
  float:left;
  background: #f6f6f6;
  overflow: auto;
}



img.a {
  width: 80%;
  height: 500px;
  object-fit: none;
  object-position: right center;
  border: 5px solid red;
}


body {
    background-color: #FFF;
    margin: 30px;
    margin-top: 10px;
}
#contentContainer {
    width: 80%;
	height:500px;
    overflow: auto;
    background-color: #F2F2F2;
	float:left;
}
#thing {
    position: relative;
    left: 50px;
    top: 50px;
    transition: left .5s ease-in, top .5s ease-in;
}
