  <style>
        body {
            transition: background-color 0.3s, color 0.3s;
        }

        .tema-gelap {
            background-color: blue;
            color: white;
            font-size: 16px;
        }
          .tema-gelap p{
            color: white;
        }
        

        .tema-hijau {
            background-color: green;
            color: yellow;
        }
  .tema-hijau p{
            color: yellow;
        }
 
        .tema-sepia {
            background-color: grey;
            color: black;
        }
  .tema-sepia p {
            
            color: black;
        }


        .tema-birumuda {
            background-color: #e0f7fa;
            color: #006064;
        }

        .pengalih-tema {
            margin: 20px 0;
        }

        .artikel {
            margin: 20px 0;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
         .artikel h1 {
            font-size: 24px;
            color: black;
            font-weight: bolt;
            
            
        }
        
        
    </style>